#url {
	a {
		color: _palette(accent2, fg);
		text-decoration: none;

		&:hover {
			color: _palette(accent2, bg);
		}
	}
}
.homerollover {
			& {
				img {
					background-color: lighten(_palette(accent2, bg), 5);
					opacity: 0.7;
				}
			}
			&:hover {

				img {
					background-color: lighten(_palette(accent2, bg), 5);
					opacity: 1.0;
				}
			}

			&:active {
				// background-color: darken(_palette(accent2, bg), 5);
				// opacity: 0.4;
			}

}

.active {
	color: lighten(_palette(accent2, bg), 5);
}

#backtotop {
	cursor: pointer; cursor: hand;
	&:hover {
				color: lighten(_palette(accent2, bg), 5);
			}
}

.icon {
	&:hover {
				color: lighten(_palette(accent2, bg), 5);
			}
}

.title {
	&:hover {
				color: lighten(_palette(accent2, bg), 5);
			}
}




.secondrowimage {

	@include breakpoint(large) {
				visibility: hidden;

		}

	@include breakpoint(medium) {
				visibility: hidden;

		}

	@include breakpoint(small) {
				visibility: hidden;

		}
}

.socialmediaicons {

	text-align: right;
}
