// skel-baseline v3.0.0 | (c) n33 | skel.io | MIT licensed

@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

/* Header */

	body {
		padding-top: 3.125em;
	}

	#header {
		background: _palette(accent1, bg),;
		color: _palette(accent2, fg);
		cursor: default;
		height: 3.25em;
		line-height: 3.25em;
		position: fixed;
		top: 0;
		width: 98%;
		z-index: _misc(z-index-base) + 1;

		#rightnav {
			text-align: right;
			a {
				padding-left:15px;
				color: _palette(accent2, fg);
				text-decoration: none;

				&:hover {
					color: _palette(accent2, bg);
				}

				&[href="#nav"] {
				@include icon('\f0c9');
				-webkit-tap-highlight-color: rgba(0,0,0,0);

					// &:before {
					// 	margin: 0 0.5em 0 0;
					// }
				}
			}
		}

		#navsb {
			visibility: hidden;
			display: none;
		}

		#navsblg {
			visibility: visible;
		}

		.logo {
			background-image: url('/images/mobile/Logo-01.svg');
			width: 250px;
			height: 20px;
			background-repeat: no-repeat;
			margin-top: 15px;
		}

		> h1 {
			color: _palette(accent2, fg-bold);
			display: inline-block;
			height: inherit;
			left: 1.25em;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;

			a {
				font-size: 1.25em;
			}
		}

		> a {
			@include vendor('transition', 'color #{_duration(transition)} ease-in-out');
			display: inline-block;
			padding: 0 0.75em;
			color: inherit;
			text-decoration: none;

			&:hover {
				color: _palette(accent2, fg-bold);
			}

			&[href="#nav"] {
				@include icon('\f0c9');
				-webkit-tap-highlight-color: rgba(0,0,0,0);

				// &:before {
				// 	margin: 0 0.5em 0 0;
				// }
			}

			& + a[href="#nav"]:last-child {
				// border-left: solid 1px _palette(accent2, border);
				// padding-left: 1.25em;
				// margin-left: 0.5em;
			}

			&:last-child {
				padding-right: 1.25em;
			}

			@include breakpoint(small) {
				padding: 0 0.5em;

				& + a[href="#nav"]:last-child {
					padding-left: 1em;
					margin-left: 0.25em;
				}

				&:last-child {
					padding-right: 1em;
				}
			}
		}
	}

	@include breakpoint(medium) {
		body {
			padding-top: 44px;
		}



		#header {
			height: 44px;
			line-height: 44px;
			
			#navsb {
				visibility: visible;
				display: inline;
			}
			#navsblg {
				visibility: hidden;
			}

			#rightnav {
				text-align: right;
				a {
					padding-left:0px;
				}
			}

			> h1 {
				left: 1em;

				a {
					font-size: 1em;
				}
			}
		}
	}

	@include breakpoint(xsmall) {
		#header {
			min-width: 320px;
			height: 44px;
			line-height: 44px;
			
			#navsb {
				visibility: visible;
				display: inline;
			}
			#navsblg {
				visibility: hidden;
			}

			#rightnav {
				text-align: right;
				a {
					padding-left:0px;
				}
			}

			> h1 {
				left: 1em;

				a {
					font-size: 1em;
				}
			}
		}
	}