{% extends "layout.nunjucks" %}


{% block content %}
<!-- Importing Nunjucks Macro -->
{% import 'macros/banner.nunjucks' as nav %}
{{nav.active('contact',bannercopy)}}

		<!-- Main -->
		<div id="main" class="container">

			<div class="row">
					<div class="12u 12u$(large) 12u$(small)"><span class="image fit"><img src="{{data.header_images[0].guid}}" alt="" /></span></div>
			</div>

			<!-- Intro -->
			<div class="row">
				<div class="4u 4u(large) 12u$(small)">
					<hr class="major" />
						<div class="row">
							<div class="12u 12u$(large) 12u$(small)">
								<h3>CONTACT</h3>
								<p>{{data.contact|safe}}</p>
								<ul class="icons">
											<li><a href="https://twitter.com/superbright_me" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="https://www.facebook.com/Superbrightme-685676934818450/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
											<li><a href="https://www.instagram.com/superbrightme/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a href="https://github.com/superbright" class="icon fa-github"><span class="label">Github</span></a></li>
								</ul>
							</div>
						</div>
						<hr class="major" />
						<div class="row">
							<div class="12u 12u$(large) 12u$(small)">
								<h3>CAPABILITIES</h3>
								<p>{{data.capabilities_copy|safe}}</p>
							</div>
						</div>
					<!-- 	<hr class="major" />
						<div class="row">
							<div class="12u 12u$(large) 12u$(small)">
								<h3>Clients</h3>
									<ul>
										<li>Google</li>
										<li>Havas</li>
										<li>Madwell</li>
									</ul>
							</div>
						</div> -->
						<hr class="major" />
				</div>
				<div class="8u 8u(large) 12u$(small)">

				{% for person in data.people %}
					<hr class="major" />
					<div class="row homerollover">
							<section class="6u 12u$(medium)">
								<div class="box alt">
											<span class="image fit"><img src="{{person.biophoto.guid}}" alt="{{person.post_title}}" /></span>
									</div>
							</section>
							<section class="6u$ 6u$(medium) 12u$(small)">
								<h3>{{person.post_title}}</h3>
								<p>{{person.position}}<br>
								<p>{{person.bio|safe}}</p>
							</section>
					</div>

					{% endfor %}
					<hr class="major" />
				</div>

			</div>
		</div>


{% endblock %}
