{% extends "layout.nunjucks" %}
{% block header %}
<meta property="og:title" content="{{meta.title}}"/>
<meta property="og:image" content="{{meta.image}}"/>
<meta property="og:site_name" content="Superbright New York"/>
<meta property="og:description" content="{{meta.description}}"/>
<meta property="og:url" content="{{meta.url}}"/>
{% endblock %}
{% block content %}

<!-- Importing Nunjucks Macro -->
{% import 'macros/banner.nunjucks' as nav %}
{{nav.active('home',bannercopy)}}
		<!-- Main -->
			<div id="main" class="container">

				{% for project in projects %}
				<!-- Intro -->
				<hr class="major" />

					<div class="row homerollover">
						<section class="6u 12u$(medium)">
							<div class="box alt">
									<div class="row 50% uniform ">
										<div class="6u 12u$(large) 12u$(small)"><span class="image fit"><a href="/{{project.type}}/{{project.post_name}}"><img src="{{project.images[0].guid}}" alt="" /></a></span></div>
										<div class="6u$ 1u$(large) 1u$(small) secondrowimage"><span class="image fit"><a href="/{{project.type}}/{{project.post_name}}"><img src="{{project.images[1].guid}}" alt="" /></a></span></div>
									</div>
								</div>
						</section>
						<section class="3u 6u(medium) 12u(small) ">
							<h3 class="title"><a href="/{{project.type}}/{{project.post_name}}">{{project.post_title}}</a></h3>
							<ul class="actions small">
								{% for tag in project.tags %}
								<li><a href="/tags/{{tag.slug}}" class="button small buttoninlinetag">{{tag.name}}</a></li>
								{% endfor %}
								</ul>
						</section>
						<section class="3u$ 6u$(medium) 12u$(small)">
							<p>{{project.short_description}}</p>
						</section>
					</div>
				{% endfor %}


			</div>
{% endblock %}
