{% extends "layout.nunjucks" %}


{% block content %} 

<!-- Importing Nunjucks Macro -->
{% import 'macros/banner.nunjucks' as nav %}
{{nav.active('portfolio',bannercopy)}}
		<!-- Main -->
			<div id="main" class="container">

				{% for project in projects %}
				<!-- Intro -->
				<hr class="major" />
					
					<div class="row homerollover">
						<section class="6u 12u$(medium)">
							<div class="box alt">
									<div class="row 50% uniform ">
										<div class="6u 12u$(large) 12u$(small)"><span class="image fit"><a href="/portfolio/{{project.slug}}"><img src="/images/projects/{{project.slug}}/{{project.images[0]}}" alt="" /></a></span></div>
										<div class="6u$ 1u$(large) 1u$(small) secondrowimage"><span class="image fit"><a href="/portfolio/{{project.slug}}"><img src="/images/projects/{{project.slug}}/{{project.images[1]}}" alt="" /></a></span></div>
									</div>
								</div>
						</section>
						<section class="3u 6u(medium) 12u(small) ">
							<h3>{{project.title}}</h3>
							<ul class="actions small">
									{% for tag in project.tags %}
									<li><a href="/tags/{{tag.name}}" class="button small buttoninlinetag">{{tag.name}}</a></li>
									{% endfor %}
								</ul>
						</section>
						<section class="3u$ 6u$(medium) 12u$(small)">
							
							<p>{{project.description}}</p>
						</section>
					</div>
				{% endfor %}


			</div>
{% endblock %}