{% extends "layout.nunjucks" %}


{% block content %} 
<!-- Importing Nunjucks Macro -->
{% import 'macros/banner.nunjucks' as nav %}
{{nav.active('portfolio',bannercopy)}}

  <style scoped>video {
  width: 100%    !important;
  height: auto   !important;
   figure { display: block; background: #eee; padding: 10px; }
}</style>
		<!-- Main -->
		<div id="main" class="container">


			<div class="row">
					{% if project.header.type == 'image' %}
					<div class="12u 12u$(large) 12u$(small)"><span class="image fit"><img src="/images/projects/{{project.slug}}/{{project.images[0]}}" alt="" /></span></div>
					{% else %}
					<div class="12u 12u$(large) 12u$(small)"><figure>
						<iframe src="http://player.vimeo.com/video/{{project.header.url}}?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0"></iframe>
						</figure>
					</div>
					{% endif %}
			</div>					

				<!-- Intro -->
			<hr class="major" />
					
			<div class="row">
				
				<section class="3u 4u(medium) 12u$(small)">
					<h3>{{project.title}}</h3>
					<ul class="actions small">
									{% for tag in project.tags %}
									<li><a href="/tags/{{tag.name}}" class="button small buttoninlinetag">{{tag.name}}</a></li>
									{% endfor %}
					</ul>
				</section>
				<section class="6u 7u$(medium) 12u$(small)">
					<p>{{project.description}}</p>
					
				</section>
				<section class="3u 6u$(medium) 12u$(small)">
					<p>Share on Facebook<br>
					Post on Twitter</p>
					
				</section>
				
			</div>
				<div class="row">
					<div class="12u 12u$(small)"><span class="image fit"><img src="/images/projects/{{project.slug}}/{{project.images[0]}}" alt="" /></span></div>
			</div>	
			<div class="row">
					<div class="6u  12u$(small)"><span class="image fit"><img src="/images/projects/{{project.slug}}/{{project.images[1]}}" alt="" /></span></div>
					<div class="6u  12u$(small)"><span class="image fit"><img src="/images/projects/{{project.slug}}/{{project.images[2]}}" alt="" /></span></div>
			</div>	
			<div class="row">
					<div class="6u  12u$(small)"><span class="image fit"><img src="/images/projects/{{project.slug}}/{{project.images[3]}}" alt="" /></span></div>
					<div class="6u  12u$(small)"><span class="image fit"><img src="/images/projects/{{project.slug}}/{{project.images[4]}}" alt="" /></span></div>
			</div>	

		</div>


{% endblock %}