{% extends "layout.nunjucks" %}


{% block content %} 
<!-- Importing Nunjucks Macro -->
{% import 'macros/banner.nunjucks' as nav %}
{{nav.active('portfolio',bannercopy)}}

		<!-- Main -->
			<div id="main" class="container">

				  <!-- Loops through "images" array -->
  				{% for project in projects %}
				<!-- Intro -->
				<hr class="major" />
					
					<div class="row homerollover">
						<section class="9u 12u$(medium)">
							<div class="box alt">
									<div class="row 50% uniform">
										<div class="12u 12u$(large) 12u$(small)"><span class="image fit"><img src="/images/projects/{{project.slug}}/{{project.images[0]}}" alt="" /></span></div>
									</div>
								</div>
						</section>
					
						<section class="3u$ 6u$(medium) 12u$(small)">
							<h3>{{project.title}}</h3>
							<ul class="actions small">
									{% for tag in project.tags %}
									<li><a href="/tags/{{tag.name}}" class="button small buttoninlinetag">{{tag.name}}</a></li>
									{% endfor %}
								</ul>
							<p>{{project.descriptionshort}}</p>
							<p><a href="/portfolio/{{project.slug}}"> Read more -> </a></p>
						</section>
					</div>

				{% endfor %}
				

			</div>

{% endblock %}