{% extends "layout.nunjucks" %}


{% block content %} 
<!-- Importing Nunjucks Macro -->
{% import 'macros/banner.nunjucks' as nav %}
{{nav.active('portfolio')}}

		<!-- Main -->
			<div id="main" class="container">

				  <!-- Loops through "images" array -->
  				{% for project in projects %}
				<!-- Intro -->
				<hr class="major" />
					
					<div class="row homerollover">
						<section class="9u 12u$(medium)">
							<div class="box alt">
									<div class="row 50% uniform">
										<div class="12u 12u$(large) 12u$(small)"><span class="image fit"><img src="/images/pic01.jpg" alt="" /></span></div>
									</div>
								</div>
						</section>
					
						<section class="3u$ 6u$(medium) 12u$(small)">
							<h3>{{project.title}}</h3>
							<ul class="actions small">
									<li><a href="#" class="button small buttoninlinetag">Small</a></li>
									<li><a href="#" class="button small buttoninlinetag">Ssdmall</a></li>
									<li><a href="#" class="button small buttoninlinetag">Bal bla bla</a></li>
									<li><a href="#" class="button small buttoninlinetag">Bal bla bla</a></li>
									<li><a href="#" class="button small buttoninlinetag">Small</a></li>
								</ul>
							<p>Erat ac non lorem justo amet primis dolor adipiscing lacinia accumsan felis sed dolor interdum ut. Amet accumsan magna etiam orci faucibus interdum et lorem ipsum et nullam.</p>

							<p>Read more -></p>
						</section>
					</div>

				{% endfor %}
				

			</div>

{% endblock %}